// app/views/tasks/destroy.js.erb

// Remover tarefa com animação
window.removeTask(
  <%= @task.id %>, 
  <%= @project.tasks.where(completed: true).count %>, 
  <%= @project.tasks.count %>
);

// Mostrar mensagem de sucesso
const message = document.createElement('div');
message.className = 'alert alert-success';
message.innerHTML = `
  <span>Tarefa removida com sucesso!</span>
  <button onclick="this.parentElement.remove()">
    <i class="fas fa-times"></i>
  </button>
`;

document.querySelector('main').insertBefore(message, document.querySelector('main').firstChild);

// Auto-dismiss após 5 segundos
setTimeout(() => {
  message.classList.add('fade-out');
  setTimeout(() => {
    message.remove();
  }, 300);
}, 5000);